-i https://pypi.python.org/simple/
alembic
blinker
click
cssmin
email-validator
flask-assets
flask-caching
flask-ckeditor
flask-debugtoolbar
flask-dropzone
flask-mail
flask-migrate
flask-sqlalchemy
flask-wtf
flask
greenlet
itsdangerous
jinja2
jsmin
mako
markupsafe
python-dateutil
python-dotenv
python-editor
python-http-client
redis
sendgrid
six
sqlalchemy
webassets
werkzeug
wtforms
